@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #82cfeb;
  height: 20vh;
  width: 100vw;
  font-size: 18px;
  display: grid;
  grid-template-columns: 30% 1fr 30%;
  margin: auto;
}

body {
  background-color: #82cfeb;
}
.center-menu {
  text-align: center;
  padding-top: 40px;
}

.right-side {
  padding-top: 40px;
  text-align: left;
  display: flex;
}
.links {
  font-family: "Inter", sans-serif;
  position: relative;
  text-decoration: none;
  color: rgb(#343434);
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  padding: 0 10px;
  padding-bottom: -10px;
  margin-bottom: -10px;

  transition: color 0.5s;
}
.links:visited,
.links:focus,
.links:active {
  text-decoration: none;
  color: #343434;
}

.links:hover {
  text-decoration: none;
  color: #ffffff;
}

.fangio-logo {
  padding-top: 30px;
  font-family: "Fugaz One", cursive;
  color: #343434;
  text-align: right;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.drivers {
  color: #343434;
  text-align: left;
  font-family: "Fugaz One", serif;
  font-size: 60px;
}
.main-body {
  margin-left: 15%;
  margin-right: 15%;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.col {
  font-size: 15px;
  display: grid;
  grid-template-columns: 180px 1fr;
  height: 180px;
  max-height: 180px;
  margin: 40px;
  color: #ffffff;
  text-align: left;
  background-color: #343434;
  font-family: "Fugaz One", serif;
}
.name {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 25px;
}
.number {
  font-size: 30px;
  margin-left: 10px;
}
.grid img {
  align-items: center;
  max-height: 180px;
}

.fer {
  background-color: rgb(243, 0, 0);
}

.bul {
  background-color: #00178a;
}

.mer {
  background-color: rgb(0, 193, 193);
}
.alfa {
  background-color: #790d0d;
}
.mc {
  background-color: #ff8000;
}

.ren {
  background-color: #0072bb;
}

.haas {
  background-color: white;
}

.tauri {
  background-color: #00112f;
}

.aston {
  background-color: #005950;
}

.will {
  background-color: #00a1e1;
}

.indep-driver {
  max-height: 180px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.hhh {
  background-color: #ffffff;
}
button {
  background-color: #343434;
  border: none;
  font-family: "Inter", sans-serif;
  color: white;
  max-height: 90px;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.5s;
}

button:hover {
  background-color: #ffffff;
  color: #343434;
  cursor: pointer;
}

.users {
  font-family: "Inter", sans-serif;
  height: 25px;
}

.dynamic-main {
  margin-left: 15%;
  margin-right: 15%;
  justify-content: center;
  align-items: center;
}

.image-container {
  background-color: #242424;
  width: 250px;
  height: 250px;
}

.driver-name {
  font-size: 50px;
  font-family: "Fugaz One", serif;
  color: #242424;
  width: 850px;
}

.gen-info {
  font-size: 30px;
  font-family: "Fugaz One", serif;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #242424;
  width: 850px;
  padding-left: 5px;
}

.driver-portrait {
  max-width: 250px;
  width: 250px;
  align-items: center;
}

.stats {
  width: 40%;
  margin-left: 0px;
  padding-right: 10px;
  color: #242424;
  font-size: 28px;
  color: #242424;
  font-family: "Inter", sans-serif;
  width: 600px;
  text-align: left;
}

.content-cont {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
}

.title-driver {
  justify-content: center;
  align-items: center;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.stats p {
  border-bottom: 2px solid rgb(0, 0, 0);
}
.driver-name {
  text-transform: uppercase;
}

.image-up {
  width: 250px;
  height: 30px;
}

.numbers {
  font-size: 28px;
  color: #242424;
  font-family: "Inter", sans-serif;
  width: 850px;
  text-align: left;
}

.styled-table {
  border-collapse: collapse;
  margin: 10px 0;
  min-width: 850px;
  color: #242424;
  font-size: 28px;
}

.styled-table thead tr {
  background-color: #242424;
  color: #ffffff;
  text-align: center;
  height: 30px;
  border: 1px 1px 1px 1px solid black;
  font-size: 20px;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  font-size: 20px;
  text-align: center;
  border: 2px solid #242424;
}
.styled-table tbody tr {
  height: 20px;
}

.mmm {
  justify-content: center;
  align-items: center;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}


.info-change{
   width: 590px;
  height: 40px;
  margin-top: 10px;
}

.team-stats {
  width: 40%;
  margin-left: 0px;
  color: #242424;
  font-size: 28px;
  color: #242424;
  font-family: "Inter", sans-serif;
  width: 850px;
  text-align: left;
  margin-bottom: 10px;
  margin-top:10px;
}

.team-stats p {
  border-bottom: 2px solid rgb(0, 0, 0);
}
.team-image-container{
  align-items: center;
  max-width: 850px;
}
.team-portrait{
  max-width: 850px;
}
.team-content-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-dynamic-main {
  margin-left: 15%;
  margin-right: 15%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
